@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

@font-face{
    font-family: "Satoshi-Bold";
    font-style: normal;
    font-weight: 700;
    src: url(./Fonts/Satoshi-Bold.otf);
}

@font-face{
    font-family: "Satoshi-Medium";
    font-style: normal;
    font-weight: 500;
    src: url(./Fonts/Satoshi-Medium.otf);
}

@font-face{
    font-family: "Satoshi-Regular";
    font-style: normal;
    font-weight: 400;
    src: url(./Fonts/Satoshi-Regular.otf);
}

:root {
  --gradient-color-red: linear-gradient(90deg, 
                          hsl(7, 89%, 46%) 15%,
                          hsl(11, 93%, 68%) 100%);
  --gradient-color-orange: linear-gradient(90deg, 
                           hsl(22, 89%, 46%) 15%,
                           hsl(54, 90%, 45%) 100%);
  --gradient-color-yellow: linear-gradient(90deg, 
                           hsl(54, 89%, 46%) 15%,
                           hsl(92, 90%, 45%) 100%);
  --gradient-color-green: linear-gradient(90deg, 
                          hsl(92, 89%, 46%) 15%,
                          hsl(92, 90%, 68%) 100%);
  --text-color: #fff;
  --body-color: hsl(0, 0%, 11%);
  --container-color: hsl(0, 0%, 9%);

  --body-font: 'Rubik', sans-serif;

  --biggest-font-size: 2.5rem;
  --normal-font-size: .938rem;
  --smaller-font-size: .75rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 2.75rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .813rem;
  }
}

*{
  margin: 0;
  padding: 0;
}

.header{
  min-height: 100vh;
  width: 100%;
  background: url(./Images/status-background.png);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
  display: flex;
  padding: 1.5% 6%;
  justify-content: space-between;
  align-items: center;
}

nav img{
  width: 85px;

}

.nav-links{
  flex: 1;
  padding-top: 0px;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-family: "Satoshi-Bold";
}

.nav-links ul li::after{
  content: "";
  width: 0%;
  height: 2px;
  background: #a45729;
  margin: auto;
  display: block;
  transition: 0.5s;  
}

.nav-links ul li:hover::after{
  width: 100%;
}

.container{
  position: absolute;
  width: 1100px;
  height: 550px;
  top: 15%;
  left: 13%;
  border-radius: 100px;
  opacity: .75;
}


.weight{
  position: absolute;
  top: 13%;
  left: 65%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  height: 25vh;
  width: 400px;
  margin: 0 1.5rem;
}

.weight-logo{
  position: absolute;
  left: 43%;
  width: 75px;
  height: 180px;
  justify-self: flex-end;
}

.weight-logo img{
  width: 230px;
}

.weight-status{
  position: absolute;
  top: 55px;
  bottom: 1.5rem;
  font-size: 20px;
  text-align: center;
}

.weight-text{
  margin-bottom: .5rem;
}

.weight-collected{
  font-size: 45px;
  font-weight: 700;
}

.status{
  position: absolute;
  top: 59%;
  left: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  height: 40vh;
  width: 500px;
}

.status-logo{
  position: absolute;
  width: 75px;
  height: 180px;
  margin-bottom: 5%;
  margin-left: 13%;
}

.status-logo img{
  width: 200px;
}

.status-status{
  font-size: 20px;
  margin-right: 40%;
  text-align: center;
}

.status-text{
  margin-bottom: .5rem;
} 

.status-desc{
  font-size: 40px;
}

.runtime{
  position: absolute;
  top: 30%;
  left: 62%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  height: 40vh;
  width: 500px;
}

.runtime-logo{
  position: absolute;
  width: 75px;
  height: 180px;
  margin-bottom: 10%;
  margin-left: 10%;
}

.runtime-logo img{
  width: 250px;
}

.runtime-status{
  font-size: 20px;
  margin-right: 40%;
  text-align: center;
}

.runtime-text{
  margin-bottom: .5rem;
} 

.runtime-timer{
  font-size: 25px;
}

.LiveFeed{
  position: absolute;
  top: 10%;
  left: 27%;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
  height: 25vh;
  width: 400px;
  margin: 0 1.5rem;
  font-weight: bold;
}

.livefeed-status{
  position: absolute;
  top: 55px;
  bottom: 1.5rem;
  font-size: 30px;
  text-align: center;
}

.livefeed-text{
  margin-bottom: .5rem;
}